<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!-- 配置包扫描器，扫描@Controller注解的类 -->
    <context:component-scan
            base-package="top.fluffcotton.controller"/>
    <!-- 加载注解驱动 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <mvc:resources location="/" mapping="/*.html"/>
    <mvc:resources location="/" mapping="/*.js"/>
    <mvc:resources location="/" mapping="/*.map"/>
    <mvc:resources location="/" mapping="/*.ico"/>
    <mvc:resources location="/" mapping="/*.map"/>
    <mvc:resources location="/" mapping="/*.txt"/>
    <mvc:resources location="/img/" mapping="/img/**"/>
    <mvc:resources location="/user/" mapping="/user/*.html"/>
    <mvc:resources location="/user/" mapping="/user/*.js"/>
    <mvc:resources location="/user/" mapping="/user/*.js.map"/>
    <mvc:resources location="/user/" mapping="/user/*.map"/>
    <mvc:resources location="/user/" mapping="/user/*.ico"/>
    <mvc:resources location="/user/" mapping="/user/*.map"/>
    <mvc:resources location="/user/" mapping="/user/*.txt"/>
    <mvc:resources location="/user/img/" mapping="/user/img/**"/>
    <!-- 配置视图解析器 -->
    <!-- 	<bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="prefix" value="/WEB-INF/jsp/" />
            <property name="suffix" value=".jsp" />
        </bean> -->

    <!-- 用户接口拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user/**"/>
            <bean class="top.fluffcotton.interceptor.UserHandlerInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>